:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --button: #FFFFFF;
}

body {
    color: var(--primary-color);
    background-color: #FFFFFF;
}

.text {
    color: var(--secondary-color);
}
.button.primery {
    color: var(--button);
    background-color: var(--accent-color);
}

.test-link:hover,
.test-link:focus {
    color:var(--accent-color);
}
