:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --button: #FFFFFF;
}

body {
    color: var(--primary-color);
    background-color: #FFFFFF;
}

/* отмена маркировки списка */

ul {
    list-style: none;
}

.text {
    color: var(--secondary-color);
}

/* стилизация кнопки */
.button.primery {
    color: var(--button);
    background-color: var(--accent-color);
}

.button {
    color: var(--secondary-color);
    background-color: #F5F4FA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.button:hover,
.button:focus {
    color: var(--button);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.text-link:hover,
.text-link:focus {
    color:var(--accent-color);
}
/* навигация по сайту */
.site-nav a {
    color: var(--secondary-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
/* contact */
.contact a {
    color: var(--primary-color);
}

.section-title,
.section-subtitle, 
.section-team,
.section-works {
    color: var(--secondary-color);
}

.section-works {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.section-works .p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}